*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:#1f49d8;
height:100vh;
display:flex;
color:white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: 30px 0 120px;
}

.voltar{
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 28px;
    text-decoration: none;
}


.logo{
margin-bottom:40px;
}

.logo-circle{
width:80px;
height:80px;
background:white;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
}

.logo-circle i{
color:#1f45b8;
font-size:35px;
}

.logo h2{
margin-top:10px;
font-size:35px;
}

h1{
font-size:40px;
margin-bottom:30px;
font-weight:bold;
}

.turmas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.card{
    width: 220px;
    height: 190px;

    background: white;
    border-radius: 20px;
}