<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>eDOC</title>

  <link rel="stylesheet" href="{{url_for('static',filename='style6.css')}}">
</head>
<body>

<div class="container">

<div class="logo">
<div class="circulo">
<i class="fa-solid fa-graduation-cap"></i>
</div>

<h1>eDOC</h1>
</div>

<h2>OLÁ, SECRETARIA ESCOLAR</h2>

<div class="search-box">
<i class="fa-solid fa-magnifying-glass"></i>
<input type="text" id="pesquisa" placeholder="Buscar">
</div>

<div class="acoes">
<a href="/preenchimento">
<button class="card">
  <img src="{{url_for('static',filename='img/add.png')}}" alt="add">
<i class="fa-solid fa-user-plus"></i>
<span>Adicionar aluno</span>
</button>
</a>
<button class="card">
<img src="{{url_for('static',filename='img/editarc.png')}}" alt="editar">
<i class="fa-regular fa-pen-to-square"></i>
<span>Editar cadastro</span>
</button>
</div>

<button class="btn-largo">
  <img src="{{url_for('static',filename='img/f19.png')}}" alt="ficha19">
<i class="fa-regular fa-file-lines"></i>
Gerar Ficha 19
</button>

<button class="btn-largo">
  <img src="{{url_for('static',filename='img/buscardoc.png')}}" alt="consultar">
<i class="fa-regular fa-folder-open"></i>
Consultar Documentos
</button>

<div class="titulo">
<strong>Documentos</strong> Recentes
</div>

<!--ScrollView -->
<div class="lista-documentos">
<div class="documento">
<div>
<h3>Mayse Gabryelle</h3>
<p>123.456.***-01</p>
</div>

<button class="download">
<i class="fa-solid fa-download"></i>
</button>
</div>

<div class="documento">
<div>
<h3>Rayanny Vitória</h3>
<p>123.456.***-01</p>
</div>

<button class="download">
<i class="fa-solid fa-download"></i>
</button>
</div>

<div class="documento">
<div>
<h3>Rodrigo Júnior</h3>
<p>123.456.***-01</p>
</div>

<button class="download">
<i class="fa-solid fa-download"></i>
</button>
</div>

<div class="documento">
<div>
<h3>Maria Eduarda</h3>
<p>123.456.***-01</p>
</div>

<button class="download">
<i class="fa-solid fa-download"></i>
</button>
</div>

<div class="documento">
<div>
<h3>João Pedro</h3>
<p>123.456.***-01</p>
</div>

<button class="download">
<i class="fa-solid fa-download"></i>
</button>
</div>

</div>

<div class="footer">

<button class="footer-btn">
<i class="fa-solid fa-house"></i>
<span>INÍCIO</span>
</button>

<button class="footer-btn">
<i class="fa-solid fa-arrow-left"></i>
<a href="PROFISSIONAL.html"></a>
<span>VOLTAR</span>
</button>

</div>

</div>

<script src="script6.js"></script>
</body>
</html>