
<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Ficha 19
eDOC</title>
<link rel="stylesheet"
href="{{ url_for('static', filename='css/ficha19.css') }}">

</head>

<body>

<div class="viewer">

<div class="topo">

<a href="/consultar" class="btn-voltar">
← Voltar
</a>

<h2>Ficha 19</h2>

<div class="acoes">

<button onclick="window.print()" class="btn">
🖨 Imprimir
</button>

<button class="btn">
📄 Gerar PDF
</button>

</div>

</div>


<div class="documento">

<!--========================= -->
<!--Página 1 -->
<!--========================= -->
{% include 'gerarficha19/capa.html' %}



<!--========================= -->
<!--Página 2 -->
<!--========================= -->
{% include 'gerarficha19/formacao_geral.html' %}



<!--========================= -->
<!--Página 3 -->
<!--========================= -->
{% include 'gerarficha19/tecnica1.html' %}



<!---========================= -->
<!--Página 4 -->
<!--========================= -->
{% include 'gerarficha19/tecnica2.html' %}



<!--========================= -->
<!--Página 5 -->
<!--========================= -->
{% include 'gerarficha19/tecnica3.html' %}

        </div>

    </div>

</body>

</html>