<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>eDOC
Recuperar Senha</title>
<link rel="stylesheet" href="style8.css">
</head>
<body>

<div class="container">

<div class="logo"><logo class="png"></logo></div>

<button class="btn-voltar" onclick="history.back()">
<a href="index.html">  </a>
</button>

<h1>eDOC</h1>

<h2>ESQUECEU SUA SENHA?</h2>

<p>
Digite seu e-mail e enviaremos
um link para redefinir sua senha.
</p>

<div class="input-box">
<span>✉</span>
<input type="email" id="email" placeholder="Digite seu email">
</div>

<button class="btn" onclick="enviarEmail()">
ENVIAR
</button>






<div class="mensagem" id="mensagem"></div>

</div>

<script src="script7.js"></script>

</body>
</html>