<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>eDOC
Área do Aluno</title>
<link rel="stylesheet" href="style3.css">
<script src="script3.js" defer></script>
</head>
<body>
<!--Barra Superior -->
<header class="topo">
<h2>eDOC</h2>
<button class="btn-compartilhar">Compartilhar</button>
</header>
<!--Conteúdo Principal -->
<main class="container">
<div class="logo">
🎓
</div>

<h1>eDOC</h1>

<h2 id="boasVindas">BEM-VINDO, ALUNO!</h2>

<p class="subtitulo">
Acompanhe o status de seus documentos abaixo.
</p>

<div class="dados-aluno">
<p><strong>Matrícula:</strong> ...</p>
<p><strong>Curso:</strong> Ensino Médio</p>
<p><strong>Turma:</strong> ...</p>
</div>

<div class="card">
<h3>INFORMAÇÕES DO SISTEMA:</h3>

<hr>

<p><strong>FICHA 19:</strong> ...</p>
<p><strong>CERTIFICADO:</strong> ...</p>

<hr>

<p class="obs">
<strong>OBS:</strong> Para baixar sua documentação".
</p>
</div>

</main>

</body>
</html>